/* Projects.css */
.projects-section {
    padding: 50px 0;
    background-color: #f0f0f0;
    text-align: center;
  }
  
  .projects-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .carousel {
    perspective: 1000px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-inner {
    width: 500px; /* Adjusted size to 500px */
    height: 500px;

    display: flex;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
  }
  
  .carousel-item {
    width: 500px; /* Adjusted size to 500px */
    height: 500px;

    min-width: 100%;
    backface-visibility: hidden;
    transition: transform 1s ease;
  }
  
  .carousel-item img {
    width: 500px; /* Adjusted size to 500px */
    height: 500px;
    border-radius: 5px;
  }
  
  .carousel-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .carousel-control {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .carousel-control:hover {
    background-color: #555;
  }
  
  /* Hover preview styles */
  .link-preview {
    position: relative;
    display: inline-block;
  }
  
  .link-preview img.preview {
    display: none;
    position: absolute;
    z-index: 1;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .link-preview:hover img.preview {
    display: block;
    bottom: 60px; /* Adjust based on your layout */
    left: 50%; /* Center the preview image */
    transform: translateX(-50%);
  }
  